 @import 'https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab';

* {
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Roboto Slab', serif;
}

span {
  font-family: 'Roboto Slab', serif;
}

.header {
  font-size: 30px;
  text-align: center;
}

.header > p {
  color: lightslategrey;
}

.wrapper {
  position: relative;
  left: 50%;
  margin-left: -250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
}

.shirtStyle {
  background-color: lightslategrey;
  max-width: 500px;
}

.preset-color {
  display: flex;
  width: 500px;
  height: 50px;
  flex-direction: row;
}

.color-choice {
  background: red;
  margin-left: 5px;
  margin-right: 5px;
  flex: 90px 1 0;
  box-shadow: 0px 0px 3px black;
  border-radius: 10%;
}

.preset1 {
  background: deepskyblue;
}

.preset2 {
  background: mediumseagreen;
}

.preset3 {
  background: darkred;
}

.preset4 {
  background: yellow;
}

.preset5 {
  background: deeppink;
}

.slider-select {
  display: flex;
  width: 500px;
  height: 100%;
  padding-left: 80px;
  padding-bottom: 30px;
  flex-direction: column;
  margin-top: 10px;
  border: 3px lightslategray solid;
  border-radius: 10px;
}

.redcolor, .greencolor, .bluecolor {
  margin-top: 20px;
  width: 90%
}

.ranger {
  width: 65%;
  border-radius: 50px;
}

.number-ranger {
  width: 14%;
}

#greyslider {
  width: 80%;
}

.font-bolder {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}

.btn {
  width: 39%;
  border: 0px;
  margin-top: 5px;
  padding: 5px;
  background: lightslategray;
  border-radius: 5px;
}

#hexinput {
  width: 80%;
  border-radius: 5px;
  padding: 2px;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#customtext {
  width: 80%;
  border-radius: 5px;
  padding: 2px;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#texttshirt {
  position: relative;
  top: -390px;
  left: 150px;
  font-size: 24px;
  max-width: 200px;
  height: 260px;
  word-wrap: break-word;
  overflow: hidden;
}

.text {
  margin-top: 4px;
  width: 80%;
  border-radius: 5px;
  padding: 2px;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.placeholder {
  width: 24%;
  font-family: 'Roboto Slab', serif;
}

.shirt-wrapper {
  height: 550px;
}